<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item routerLink="/index" [nzSelected]="router.url === '/index'">Logo</li>
  <li nz-menu-item routerLink="/project" [nzSelected]="router.url.startsWith('/project')">
    <i class="anticon anticon-appstore"></i>
    {{ 'home.menu.project.title' | translate }}
  </li>
  <li nz-menu-item routerLink="/user" [nzSelected]="router.url.startsWith('/user')">
    <i class="anticon anticon-user"></i>
    {{ 'home.menu.user.title' | translate }}
  </li>
  <li nz-menu-item routerLink="/team" [nzSelected]="router.url.startsWith('/team')">
    <i class="anticon anticon-team"></i>
    {{ 'home.menu.team.title' | translate}}
  </li>
  <li nz-menu-item routerLink="/dashboard" [nzSelected]="router.url.startsWith('/dashboard')">
    <i class="anticon anticon-dashboard"></i>
    {{ 'home.menu.dashboard.title' | translate}}
  </li>
  <li nz-menu-item class="float-right" routerLink="/system/profile" [nzSelected]="router.url === '/system/profile'">
    Admin
  </li>
</ul>
