<div nz-row>
  <div nz-col nzSpan="4" class="pr15">
    <nz-card nzType="inner" nzTitle="标签" class="mb15">
      <div class="order-a"><a href="javascript:void(0);">微信</a></div>
      <div class="order-a"><a href="javascript:void(0);">小程序</a></div>
      <div class="order-a"><a href="javascript:void(0);">JAVA</a></div>
      <div class="order-a"><a href="javascript:void(0);">Web</a></div>
      <div class="order-a"><a href="javascript:void(0);">区块链</a></div>
    </nz-card>
    <nz-card nzType="inner" nzTitle="团队人数">
      <div class="order-a"><a href="javascript:void(0);">1-5</a></div>
      <div class="order-a"><a href="javascript:void(0);">5-20</a></div>
      <div class="order-a"><a href="javascript:void(0);">20-50</a></div>
      <div class="order-a"><a href="javascript:void(0);">50+</a></div>
    </nz-card>
  </div>
  <div nz-col nzSpan="20" class="pl15">
    <nz-card>
      <div nz-row class="mb15">
        热门搜索：
        <a href="javascript:void(0);" class="hot-search-a">微信</a>
        <a href="javascript:void(0);" class="hot-search-a">Web</a>
        <a href="javascript:void(0);" class="hot-search-a">iOS</a>
        <a href="javascript:void(0);" class="hot-search-a">Android</a>
        <a href="javascript:void(0);" class="hot-search-a">小程序</a>
      </div>
      <div nz-row class="mb15">
        <nz-input-group nzSuffixIcon="anticon anticon-search">
          <input type="text" nz-input placeholder="请输入关键字">
        </nz-input-group>
      </div>
      <div nz-row class="mb15">
        <div class="float-left">搜索到23个结果：</div>
        <div class="float-right">
          排序：
          <a href="javascript:void(0);" class="order-a">相关度</a>
          <a href="javascript:void(0);" class="order-a">人数</a>
          <a href="javascript:void(0);" class="order-a">完成项目数</a>
        </div>
      </div>
      <div nz-row class="mb15">
        <div class="content" *ngFor="let item of test">
          <div class="title">
            <a href="javascript:void(0);">codeforfun-group</a>
            <a class="button" href="javascript:void(0);">申请加入</a>
          </div>
          <div class="description">
            团队主要业务为web、微信公众号、企业号以及小程序的设计开发。
          </div>
          <div class="footer clearfix">
            <div class="left">
              <span class="tag">标签：
                <nz-tag>微信</nz-tag>
                <nz-tag>JAVA Web</nz-tag>
                <nz-tag>小程序</nz-tag>
              </span>
            </div>
            <div class="right">
              <span class="click">团队人数：7</span>
              <span class="collect">完成项目数：25</span>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
