<div nz-row>
  <div nz-col nzSpan="4" class="pr15">
    <nz-card nzType="inner" nzTitle="类别" class="mb15">
      <div class="order-a"><a href="javascript:void(0);">移动应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">H5应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">微信应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">企业应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">Web应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">桌面应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">游戏开发</a></div>
      <div class="order-a"><a href="javascript:void(0);">嵌入式应用</a></div>
      <div class="order-a"><a href="javascript:void(0);">设计</a></div>
      <div class="order-a"><a href="javascript:void(0);">小程序</a></div>
    </nz-card>
    <nz-card nzType="inner" nzTitle="标签" class="mb15">
      <div class="order-a"><a href="javascript:void(0);">JAVA</a></div>
      <div class="order-a"><a href="javascript:void(0);">Docker</a></div>
      <div class="order-a"><a href="javascript:void(0);">爬虫</a></div>
      <div class="order-a"><a href="javascript:void(0);">区块链</a></div>
    </nz-card>
    <nz-card nzType="inner" nzTitle="更新时间">
      <div class="order-a"><a href="javascript:void(0);">今天</a></div>
      <div class="order-a"><a href="javascript:void(0);">本月</a></div>
      <div class="order-a"><a href="javascript:void(0);">本周</a></div>
      <div class="order-a"><a href="javascript:void(0);">今年</a></div>
    </nz-card>
  </div>
  <div nz-col nzSpan="20" class="pl15">
    <nz-card>
      <div nz-row class="mb15">
        热门搜索：
        <a href="javascript:void(0);" class="hot-search-a">公众号</a>
        <a href="javascript:void(0);" class="hot-search-a">小程序</a>
        <a href="javascript:void(0);" class="hot-search-a">spring</a>
        <a href="javascript:void(0);" class="hot-search-a">区块链</a>
        <a href="javascript:void(0);" class="hot-search-a">vue</a>
      </div>
      <div nz-row class="mb15">
        <nz-input-group nzSuffixIcon="anticon anticon-search">
          <input type="text" nz-input placeholder="请输入关键字">
        </nz-input-group>
      </div>
      <div nz-row class="mb15">
        <div class="float-left">搜索到23个结果：</div>
        <div class="float-right">
          排序：
          <a href="javascript:void(0);" class="order-a">相关度</a>
          <a href="javascript:void(0);" class="order-a">点击量</a>
          <a href="javascript:void(0);" class="order-a">收藏数</a>
          <a href="javascript:void(0);" class="order-a">时间</a>
        </div>
      </div>
      <div nz-row class="mb15">
        <div class="content" *ngFor="let item of test">
          <div class="title">
            <a href="javascript:void(0);">Codeforfun-practice 项目合作平台 (<span class="highlight">Java</span>)</a>
            <a class="button" href="javascript:void(0);">申请加入</a>
          </div>
          <div class="description">
            本站源码，你懂的，嘿嘿Java嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿哈嘿
            本站源码，你懂的，嘿嘿Java嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿哈嘿
            本站源码，你懂的，嘿嘿Java嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿哈嘿
            本站源码，你懂的，嘿嘿Java嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿哈嘿
            本站源码，你懂的，嘿嘿Java嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿哈嘿
            本站源码，你懂的，嘿嘿Java嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈，嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿嘿哈哈嘿哈嘿
          </div>
          <div class="footer clearfix">
            <div class="left">
              <span class="time">2018-03-11</span>
              <span class="type">类别：Web应用</span>
              <span class="tag">标签：Java, SpringBoot, Docker</span>
            </div>
            <div class="right">
              <span class="click">点击：147</span>
              <span class="collect">收藏：25</span>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
